.user-component__subtitle--Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-component__subtitle--Icon i {
  margin-left: 10px;
  padding-top: 10px;
}

.more-screen .icon-row {
  margin-top: 10px;
}

.more-screen .icon-row {
  display: flex;
  flex-wrap: wrap;
}

.more-screen .icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  padding: 20px;
}

.more-sugestions__title {
  margin-top: 20px;
  font-size: 15px;
}

.more-sugestions__icons {
  display: flex;
  margin-top: 20px;
}

.more-sugestions__icon img {
  height: 60px;
  width: 60px;
  border-radius: 12%;
  margin-bottom: 8px;
}

.more-sugestions__icon span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.more-sugestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
